.prices {
  &--wide-card {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .card {
    ol {
      margin-top: 12px;
    }
  }

  .faq {
    &__item {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}
