.fahrschule {
  background: var(--color-background) url("../images/background/fahrschule.svg") 0 center no-repeat;
  padding: 40px 0;

  @media screen and (min-width: 992px) {
    padding: 80px 0;
  }

  &__content {
    margin: 50px 0 80px;

    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 992px) {
      margin: 80px 0 160px;
    }
  }
}

.about {
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    flex: 0 0 45.8%;
    border-right: 1px solid var(--color-separator);
    padding-right: 40px;
    margin: 0 40px 0 0;
  }

  @media screen and (min-width: 992px) {
    padding-right: 70px;
    margin-right: 70px;
  }

  &__image {
    display: block;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 40px var(--color-shadow);
    margin-bottom: 40px;
  }

  &__description {
    color: var(--color-secondary-text);
    margin-bottom: 22px;
  }
}

.faq {
  @media screen and (min-width: 768px) {
    flex: 1 1 50%;
  }

  &__item {
    background: url("../images/icons/plus.svg") calc(100% - 4px) 20px no-repeat;
    background-size: 20px 20px;
    border-top: 1px solid var(--color-separator);

    &:last-child {
      border-bottom: 1px solid var(--color-separator);
    }

    &--active {
      background: url("../images/icons/minus.svg") calc(100% - 4px) 20px no-repeat;
      background-size: 20px 20px;
    }
  }

  &__question {
    cursor: pointer;
    font-weight: 600;
    padding: 20px 40px 20px 0;
  }

  &__answer {
    padding-bottom: 20px;

    & > *:not(:first-child) {
      margin-top: 20px;
    }

    ul {
      li {
        &:before {
          content: '—';
          color: var(--color-primary);
          padding-right: 12px;
        }
      }
    }
  }
}
