.sticky-bar {
  height: 60px;

  &--sticky {
    .nav-bar {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 10;
      box-shadow: 0 0 10px var(--color-shadow);
    }
  }
}

.nav-bar {
  background: var(--color-white);

  &__wrapper {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
  }

  &__link {
    margin-right: 20px;
    position: relative;
    transition: color .4s ease;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;

    &:before {
      content: "";
      background-color: transparent;
      height: 4px;
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
    }

    &:hover {
      color: var(--color-primary);
    }

    &--active {
      color: var(--color-primary);

      &:before {
        background-color: var(--color-primary);
      }
    }
  }

  ul {
    display: flex;
    position: relative;
    right: -1px;
  }

  li {
    display: block;
    height: 32px;
    width: 32px;
    margin-left: 12px;
    cursor: pointer;
    opacity: .5;
    transition: opacity .4s ease;

    &:hover {
      opacity: 1;
    }
  }
}
