.post-footer {
  &__copyright {
    color: var(--color-secondary-text);
  }

  .wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }
}

.social {
  display: flex;

  &__item {
    &:not(:first-child) {
      margin-left: 30px;
    }

    a {
      display: block;
      width: 30px;
      height: 30px;
    }

    &--facebook {
      a {
        background: url('../images/icons/facebook.svg') 0 0 no-repeat;
      }
    }

    &--instagram {
      a {
        background: url('../images/icons/instagram.svg') 0 0 no-repeat;
      }
    }

    &--youtube {
      a {
        background: url('../images/icons/youtube.svg') 0 0 no-repeat;
      }
    }
  }
}
