.promo {
  padding-top: 308px;
  background: url('../images/wallpaper-1.webp') center center no-repeat;
  background-size: cover;

  * {
    color: var(--color-white);
  }

  &__title {
    font-size: 64px;
    font-weight: 600;
  }
}
