:root {
  --color-primary: #e02b20;
  --color-secondary: #f3f3f3;
  --color-primary-text: #454545;
  --color-secondary-text: #ababab;
  --color-separator: #cccccc;

  --color-white: #ffffff;
  --color-shadow: rgba(0,0,0,0.25);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  color: var(--color-primary-text);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
  font-size: 24px;
  margin: 12px 0;
}

p {
  margin: 12px 0;

  & + h4,
  & + h5,
  & + h6 {
    margin-top: 24px;
  }
}

ol {
  li {
    padding-left: 24px;
    position: relative;
    line-height: 28px;

    &:before {
      content: "";
      background: var(--color-primary);
      width: 8px;
      position: absolute;
      left: 0;
      height: 1px;
      top: 50%;
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 16px;
}

.button {
  color: var(--color-white);
  text-transform: uppercase;
  padding: 0 32px;
  background: var(--color-primary);
  position: relative;
  transition: background-color .4s ease;
  border: none;
  cursor: pointer;
  text-decoration: none;
  height: 52px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;

  &:hover {
    background-color: #961c14;
  }
}

.icon {
  display: block;
  height: 32px;
  width: 32px;
}

.header {
  height: 115px;

  &__wrapper {
    border-bottom: 1px solid var(--color-separator);
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
    width: 185px;
    height: 64px;
  }

  &__phone,
  &__address {
    display: flex;
    align-items: center;

    .icon {
      flex: 0 0 32px;
      margin-right: 16px;
    }

    a {
      font-weight: bold;
      color: var(--color-primary-text);
      position: relative;
      top: 0;
      transition: color .4s ease;

      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        height: 1px;
        width: 0;
        left: 0;
        background: transparent;
        transition: all .4s ease;
      }

      &:hover {
        color: var(--color-primary);

        &:after {
          width: 100%;
          background-color: var(--color-primary);
        }
      }
    }
  }

  &__address {
    margin-right: 48px;
  }
}

.sticky-bar {
  height: 60px;

  &--sticky {
    .nav-bar {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 10;
      box-shadow: 0 0 10px var(--color-shadow);
    }
  }
}

.nav-bar {
  background: var(--color-white);

  &__wrapper {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
  }

  &__link {
    margin-right: 20px;
    position: relative;
    transition: color .4s ease;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;

    &:before {
      content: "";
      background-color: transparent;
      height: 4px;
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
    }

    &:hover {
      color: var(--color-primary);
    }

    &--active {
      color: var(--color-primary);

      &:before {
        background-color: var(--color-primary);
      }
    }
  }

  ul {
    display: flex;
    position: relative;
    right: -1px;
  }

  li {
    display: block;
    height: 32px;
    width: 32px;
    margin-left: 12px;
    cursor: pointer;
    opacity: .5;
    transition: opacity .4s ease;

    &:hover {
      opacity: 1;
    }
  }
}

.promo {
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000000;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__content {
    width: 40%;
    padding: 80px 0;
  }

  &__titles {
    position: relative;
    padding: 0 0 16px 28px;

    &:before {
      content: "";
      background: var(--color-primary);
      height: 100%;
      width: 8px;
      position: absolute;
      left: 0;
      top: 0;
    }

    h1,
    h2 {
      color: var(--color-white);
    }

    h1 {
      font-size: 48px;
      font-weight: 100;
    }
  }

  ol {
    margin: 40px 0;

    li {
      color: var(--color-secondary-text);
    }
  }
}

.section {
  padding: 80px 0;
  position: relative;

  &--red {
    background-color: var(--color-primary);

    * {
      color: var(--color-white);
    }

    .article:before {
      background: var(--color-white);
    }
  }

  &--gray {
    background: var(--color-secondary);
  }

  &--double {
    .wrapper {
      display: flex;
      justify-content: space-between;

      .article {
        flex: 0 0 calc(50% - 8px);
      }
    }
  }

  &--background {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,.5);
    }

    * {
      color: var(--color-white);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
}

.article {
  position: relative;
  padding: 12px 0 0;

  &:before {
    content: "";
    background-color: var(--color-primary);
    height: 3px;
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }

  h3,
  h6 {
    font-weight: 100;
  }

  h3 {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

//.cards {
//  display: flex;
//  justify-content: space-between;
//  margin-top: 60px;
//  flex-wrap: wrap;
//
//  & ~ & {
//    margin-top: 20px;
//  }
//
//  &--four {
//    .card {
//      width: calc(25% - 15px);
//    }
//  }
//
//  &--three {
//    .card {
//      width: calc(33.33% - 13.33px);
//
//      &:nth-child(n + 4) {
//        margin-top: 20px;
//      }
//    }
//  }
//}

//.card {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  padding: 24px;
//  background: var(--color-white);
//  box-shadow: 0 0 10px rgba(0,0,0,.25);
//
//  &__additional-info {
//    margin-top: auto;
//    font-size: 32px;
//    color: var(--color-primary);
//    border-top: 1px solid var(--color-separator);
//    width: 100%;
//    text-align: center;
//    padding-top: 16px;
//  }
//
//  p {
//    text-align: center;
//  }
//
//  h6 {
//    font-weight: 400;
//
//    &:first-child {
//      margin-top: 0;
//    }
//  }
//}

//.cards {
//  display: flex;
//  flex-wrap: wrap;
//
//  .card {
//    background-color: var(--color-white);
//    box-shadow: 0 0 10px var(--color-shadow);
//  }
//
//  &.xl-3 {
//    .card {
//      flex: 0 0 calc(33.33% - 13.33px);
//
//      &:nth-child(n + 4) {
//        margin-top: 20px;
//      }
//    }
//  }
//}

.grid {
  display: grid;

  &--3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px 16px;
  }

  &--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px 16px;
  }
}

.card {
  background-color: var(--color-white);
  box-shadow: 0 0 10px var(--color-shadow);

  &__image {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.about-us {
  &__philosophy {
    display: flex;
    justify-content: space-between;

    &--image {
      display: block;
      margin-left: 40px;
      flex: 0 0 50%;
      background-size: cover;
      background-position: center;
    }
  }

  &__team {
    display: flex;
    flex-wrap: wrap;
  }

  &__team-card {
    &--image {

    }
  }
}

.footer {
  &__copyrights {
    border-top: 1px solid var(--color-separator);
    padding: 20px 0;
  }
}
